<ng-form [formGroup]="translateFormGroup">
  <mat-form-field>
    <mat-label>🔎 Translate from</mat-label>
    <mat-select
        formControlName="sourceLang">
      <mat-option
          *ngFor="let lang of availableLangs"
          [value]="lang">
        {{lang.name}} - {{lang.localName}}
      </mat-option>
    </mat-select>
    <mat-error>Set a language to translate from</mat-error>
  </mat-form-field>

  <mat-form-field class="query formChild">
    <input
        matInput
        placeholder="💬 Enter text"
        formControlName="query"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let result of autocompleteOptions"
                  [value]="result.title">
        {{result.title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>🌐 Translate into</mat-label>
    <mat-select formControlName="targetLang" [disabled]="!availableTargetLangs">
      <mat-option *ngFor="let lang of availableTargetLangs"
                  [value]="lang">
        {{lang.name}} - {{lang.localName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="result" class="result">
    <h1><a [href]="result.url">🔗{{result.title}}</a></h1>
    <iframe
      [title]="result.title"
      [src]="sanitizer.bypassSecurityTrustResourceUrl(result.url)" />
  </div>
</ng-form>

<iframe
  class="translationPreview"
  [title]="translation.title"
  [src]="translation.url | safe"
  *ngIf="translation"
  onload="this.width=window.innerWidth;"
>
  {{translation.title}}
</iframe>
